/* Limpando a Formatação Padrão */
*{
	margin: 0;
	padding: 0;
}
body{
	font-size: 1em;
	font-family: "montserrat", sans-serif;
	background: #e6e6e6;
}
/* Formatação do Cabeçalho */
.area-cabecalho{
	background-color: #000;
}

.area-logo h1 a{
	color: #2C94EA;
	transition: .4s;
}

.area-logo h1 a:hover{
	margin-bottom: 4px solid #00bfb3;
}
.area-logo h1 a{
	text-decoration: none;
	color: #00bfb3;
	transition: .4s;
	
}
.area-logo span{
	color: #FFF;
	transition: .3s;
}
.area-logo span:hover{
	color: #00bfb3;
	border-bottom: 4px solid #00bfb3;
	font-size: 45px;
}
div .area-logo{
	text-align: center;
	font-size: 35px;
}
/* Formatação dos Menus*/
ul {
	position: relative;
	background: #fff;
	margin: 0;
	padding: 0;
	text-align: center;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #000;
	padding: 15px;
	display: block;
	text-transform: uppercase;
}

ul li a:hover {
	color: #00bfb3;
}

ul ul {
	position: absolute;
	min-width: 200px;
	display: none;
	z-index: 1;
}

ul ul li {
	display: block;
	background: #e3e3e3;
	text-align:left;
}

ul li:hover ul {
	display: block;
}

h1{
	padding: 35px;
	color: #fff;
}

span {
	font-size: 35px;
}
/* Formatação do Banner */
 .area-banner {
 	background: url(../_img/banner-sobre.jpg) no-repeat;
 	background-size: cover;
 	background-position: 0 55%;
 	position: relative;	
 }
.area-banner{
	position: relative;
	width: 80%
	margin-left: auto;
	margin-right: auto;
	padding-top: 10em;
	padding-bottom: 10em;
	text-align: left;
}

.area-banner h1{
	font-size: 48px;
	text-transform: uppercase;
}
.area-banner p{
	margin-top: 30px;
	margin-bottom: 60px;
	font-size: 18px;
	font-weight: 300;
	color: #fff;
	margin-left: 10px;
	
}


/* formatação layout */

#area-principal {
	width: 920px;
	margin: 0 auto;
	padding: 15px;
}
#area-postagens {
	width: 660px;
	float: left;
}

.postagem {
	padding: 20px;
	margin-bottom: 20px;
	background: white;
}

#rodape{
	clear: both;
	text-align: center;
	padding: 15px;
	background-color: #ccc;
}

.branco{
	color: white;
}

.data-postagem{
	font-size: 0.8em;
	border-bottom: 1px solid #f4f4f4;
	padding-bottom: 10px;
	margin-bottom: 10px;
	display: block;
}




